@font-face {
    font-family: 'HIROMISAKE';
    src: url(fonts/HIROMISAKE.ttf);
}

body {
    background-color: crimson;
}
nav {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.nav-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.logo {
    font-size: 60px;
    font-family: "HIROMISAKE", sans-serif;
    font-weight: 900;
}
