@font-face {
    font-family: 'HIROMISAKE';
    src: url(fonts/HIROMISAKE.ttf);
}

body {
    background-color: crimson;
    padding: 0px;
    margin: 5px;
}
nav {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.nav-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.logo {
    font-size: 60px;
    font-family: "HIROMISAKE", sans-serif;
    font-weight: 900;
}
.btn {
    font-family: "HIROMISAKE", sans-serif;
    border: 5px;
    font-size: 35px;
    background-color: white;
}
.dropdown {
    position: absolute;
    width: 175px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;
    border-radius: 15px;

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}

div.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}
#arrow {
    transform: rotate(360);
    transition: 0.2s ease;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

.dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.5rem 0rem;
    text-decoration: none;
    color: black;
    font-family: "HIROMISAKE", sans-serif;
}
  
.dropdown a:hover {
    background-color: var(--color);
    color: white;
    background-color: #cd3932;
    font-size: 20px;
}