@font-face {
    font-family: 'HIROMISAKE';
    src: url(fonts/HIROMISAKE.ttf);
}

body {
    background-color: crimson;
    padding: 0px;
    margin: 5px;
}
nav {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.nav-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.logo {
    font-size: 60px;
    font-family: "HIROMISAKE", sans-serif;
    font-weight: 900;
}
.regBtn {
    font-family: "HIROMISAKE", sans-serif;
    border: 0px;
    font-size: 35px;
    background-color: white;
}
.regDropdown {
    position: absolute;
    width: 175px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;
    border-radius: 15px;
}
.regDropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.5rem 0rem;
    text-decoration: none;
    color: black;
    font-family: "HIROMISAKE", sans-serif;
}
  
.regDropdown a:hover {
    background-color: var(--color);
    color: white;
}